<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User overview</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>User name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="user : ${users}">
                <td>
                    <a th:href="'/users/' + ${user.userId}" th:text="${user.userName}">
                        MyUserName
                    </a>
                </td>
                <td th:text="${user.email}">MyEmail</td>
            </tr>

        </tbody>
    </table>

    <a href="/addUser">Add a new user</a>

</body>
</html>